@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  margin: 0 12px;
}

.slick-slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prev_arrow {
  z-index: 100;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.next_arrow {
  z-index: 100;
  position: absolute;
  top: 50%;
  right: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 1024px) {
  .prev_arrow {
    left: 20px;
  }

  .next_arrow {
    right: 20px;
  }
}

.skiptranslate {
  display: none !important;
  visibility: hidden;
}

/* src/components/VerticalTimeline.css */

/* Add this to apply custom positioning for the dot */
.timeline-item-left::before {
  left: -1.75rem;
}

.timeline-item-right::before {
  left: unset;
  right: -1.75rem;
}

#numberOfWorkers::-webkit-slider-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #f90945; /* Customize your thumb color */
  cursor: pointer;
}

#numberOfWorkers::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #f90945; /* Customize your thumb color */
  cursor: pointer;
}

#numberOfWorkers::-webkit-slider-runnable-track {
   /* Background color for the track */
  border-radius: 10px;
}

/* For Firefox */
#numberOfWorkers::-moz-range-track {
   /* Background color for the track */
  border-radius: 10px;
}
