@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  margin: 0 12px;
}

.slick-slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prev_arrow {
  z-index: 100;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.next_arrow {
  z-index: 100;
  position: absolute;
  top: 50%;
  right: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (min-width: 1024px) {
  .prev_arrow {
    left: 20px;
  }

  .next_arrow {
    right: 20px;
  }
}

@layer utilities {
  .range-thumb::-webkit-slider-thumb {
    @apply h-4 w-4 rounded-full bg-blue-500; /* Customize as needed */
  }
  .range-thumb::-moz-range-thumb {
    @apply h-4 w-4 rounded-full bg-blue-500; /* Customize as needed */
  }
  .range-thumb::-ms-thumb {
    @apply h-4 w-4 rounded-full bg-blue-500; /* Customize as needed */
  }
}

.skiptranslate {
  display: none !important;
  visibility: hidden;
}

/* src/components/VerticalTimeline.css */

/* Add this to apply custom positioning for the dot */
.timeline-item-left::before {
  left: -1.75rem;
}

.timeline-item-right::before {
  left: unset;
  right: -1.75rem;
}
